/build/
/bin/
/lib/
/dist/
/test-output/
/.settings/
/nbproject/private/
/target/
.classpath
.project
.checkstyle
*.class
*.jar
*.war
*.ear
[tT]emp*
# IIDEA meta files
/.idea/
/*.iml
/*.ipr
/*.iws
# diff by-products
*.rej
*.orig
